/* 
Creator: Andrew Lambourne
Date created: 6/27/2019
Date last modified:	7/1/2019 added 'bold hover' functionality to the nav bar. 
*/
	container {
        max-width: 1000px;
    }
	
	centered{
	margin:0 auto;
	width:1000px;
	}
	
	body {
		background-color: white;
		font-family: comic-sans, helvetica, cambria;
		color: black;
		max-width: 1000px;
			margin: 0 auto;
			padding: 0;
	}	



	header, footer {
		background-color: #007bff;
		color: white;
		font-family: Arial;
		height: 60px;
		text-align: center;
		padding: 24px 10px 20px 10px;
	}

	h1 {
		font-size: 2.5em;
		color: white;
	}
		

	nav {
		background-color: white;
		border: 10px;
		padding: 25px;
		margin: 5x;
		font-size: 1.4em;
		color: white;
		text-align: left;
		display: block;
		border: solid 0px;
		border-color: #e8ebfa;	
	}




	.clear-float {
			clear:both;
	}

	.right-content {
		float:left;
	}


	nav a {
		text-decoration: none;
	}


	nav a:visited {
		color: shadewhite; 
	}

	nav	a:hover {
		font-weight: bold; 
	}
	
	hr.blueMatch {
		border: 10px solid #007bff;
	}
	
	.carousel-item.active {
    display:block;
	}

	